<% @feed.each do |story| %>
  <div class="card mb-4 feed_card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-8 col-12">
          <h4 class="card-title name"><%= link_to story.user.name, username_path(story.user.username) %> <span class="flight-count">added a new trip with <%= pluralize(number_with_delimiter(story.flights.count), "flight") %>.</span></h4>
        </div>
        <div class="col-lg-4 col-12">
          <div class="float-lg-right">
            <%= render 'users/profile/follow_form', user: story.user %>
          </div>
        </div>
      </div>
      <span class="date"><%= time_ago_in_words(story.created_at) %> ago</span>
      <div class="row mt-3">
        <div class="col-12">
          <div class="description"><%= story.description %></div>
        </div>
      </div>
      <div class="row airports">
        <div class="col-12">
          <% story.locations.each do |location| %>
            <%= location.identifier %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= image_tag(story.map_image_url, class: 'card-img-top', alt: 'Story map') unless story.map_image_url.blank? %>
        </div>
      </div>
    </div>
    <!-- rewrite _likes.html.erb to look like mockup -->
    <!-- update create.js.erb and destroy.js.erb to also update count on left hand side -->
    <div class="card-body social_actions">
      <div class="row">
        <div class="count col" id="like_count_<%= story.id %>">
          <%= render 'stories/like_count', story: story %>
        </div>
        <div class="actions col" id="like_button_<%= story.id %>">
          <div class="float-right">
            <%= render 'stories/like_button', story: story %>
            <span class="ml-4">
              <%= render 'stories/comment_button' %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer comments">
      <div class="row">
        <div class="col-12">
          <div>
            <div id="comments_<%= story.id %>">
              <% story.comments.each do |comment| %>
                <%= render 'stories/comment', comment: comment %>
              <% end %>
            </div>
            <%= form_with model: [story, Comment.new], class: "new_comment" do |f| %>
              <div class="form-group">
                <%= f.text_area :body, class: 'form-control comment_text', placeholder: "Add a comment" %>
                <%= f.submit class: 'btn btn-primary'%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= paginate @feed, theme: 'bootstrap4' %>
