<% if stories.empty? %>
  <div class="alert alert-light" role="alert">
    Looks like the people you're following have been quiet lately.
  </div>
<% end %>

<% stories.each do |story| %>
  <%= render 'stories/card', story: story %>
<% end %>

<%= paginate stories, theme: 'bootstrap4' %>

<div class="row">
  <% users.each do |user| %>
    <div class="col-12 col-md-6">
      <div class="card mb-4 feed_card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8 col-12">
              <h4 class="card-title name"><%= link_to user.name, username_path(user.username) %></h4>
            </div>
            <div class="col-lg-4 col-12">
              <div class="float-lg-right">
                <%= render 'users/profile/follow_form', user: user %>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <% if user.flights.last %>
                <span class="updated">Last Updated: <%= time_ago_in_words(user.flights.last.updated_at) %> ago</span>
              <% else %>
                <span class="updated">No flights added.</span>
              <% end %>
            </div>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <%= link_to username_path(user.username) do %>
            <li class="list-group-item link_section">
              <span>
                View their Map
              </span>
              <span class="float-right">
                <%= image_tag 'icons/chevron_icon.png', width: 12, height: 10 %>
              </span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
