<div class="card m-1 m-md-4 user_card">
  <%#= image_tag 'demo-img.png', class: 'card-img-top', alt: 'Map image'%>
  <div class="card-body">
    <h4 class="card-title name"><%= current_user.name %></h4>
    <p class="subtitle">Joined <%= current_user.created_at.strftime('%B %e, %Y') %></p>
    <hr>
    <div class="row text-center text-nowrap">
      <div class="col-4 stats">
        <div class="row value">
          <div class="col-12 text-nowrap">
            <%= current_user.flights.count %>
          </div>
        </div>
        <div class="row heading">
          <div class="col-12">
            Flights
          </div>
        </div>
      </div>
      <div class="col-4 stats">
        <div class="row value">
          <div class="col-12 text-nowrap">
            <%= current_user.num_airports %>
          </div>
        </div>
        <div class="row heading">
          <div class="col-12">
            Airports
          </div>
        </div>
      </div>
      <div class="col-4 stats">
        <div class="row value">
          <div class="col-12 text-nowrap">
            <%= current_user.total_flight_hours %>
          </div>
        </div>
        <div class="row heading">
          <div class="col-12">
            Hours
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <%= link_to user_path(current_user) do %>
      <li class="list-group-item link_section">
        <span>
          View your Map
        </span>
        <span class="float-right">
          <%= image_tag 'icons/chevron_icon.png', width: 12, height: 10 %>
        </span>
      </li>
    <% end %>
  </ul>
</div>
