<div class="story_ratings">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-info mt-4" role="alert">
        Use this to add a new rating. Have old ratings you want to add? <%= link_to( 'Edit your profile', edit_user_registration_path(current_user.username)) %>.
      </div>
      <div class="row mb-4">
        <%= form.collection_radio_buttons(:rating_ids, Rating.all, :id, :name) do |b| %>
          <div class="col-6 mt-3">
            <div class="form-check">
              <% if current_user.ratings.pluck(:name).include?(b.text) %>
                <%= b.radio_button(class: 'form-check-input', disabled: true) %>
                <%= b.label(class: 'form-check-label inactive') %>
              <% else %>
                <%= b.radio_button(class: 'form-check-input', disabled: false) %>
                <%= b.label(class: 'form-check-label active') %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
