<%= form_with model: @story, local: false, class: 'new_story' do |form| %>
  <div id="form-errors">
    <% if alert %>
      <%= render 'stories/form_errors', alerts: alert %>
    <% end %>
  </div>

  <div class="create-story mb-4">
    <%= form.text_area :description, class: 'form-control story-input-description', rows: 4, placeholder: 'Say something ...' %>
    <%= render 'stories/select_attachment' %>
    <%= render 'stories/forms/add_flight', form: form  %>
    <%= render 'stories/forms/add_ratings', form: form %>
    <div class="row">
      <div class="col-12">
        <div class="actions">
          <%= form.submit 'Submit', class: 'btn btn-primary mt-2 float-right', id: 'create-story' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
