<%= title "Arelplane | Register" %>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-1 col-md-4'></div>
    <div class='col-10 col-md-4'>
      <p class='light-header'>Register</p>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form">
          <%= f.label :email, class: 'light-sub-text' %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          <%= f.label :name, class: 'light-sub-text' %><br />
          <%= f.text_field :name, class: 'form-control' %>
          <%= f.label :password, class: 'light-sub-text' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "Sign Up", class: 'btn btn-primary mt-2', id: 'registerButton' %>
        </div>
      <% end %>
    </div>
    <div class='col-1 col-md-4'></div>
  </div>
</div>

<%= render 'vendors/fb_pixel_register' %>
