<%= form_with(model: flight, local: true) do |form| %>
  <% if flight.errors.any? %>
    <% flight.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <div class="form">
    <div class="mb-3">
      <%= form.label :flight_date, class: 'light-sub-text' %><br />
      <%= form.datetime_select :flight_date, id: :flight_flight_date %><br />
    </div>

    <div class="mb-3">
      <%= form.label :aircraft_id, 'Aircraft Identifier, e.g. N17AV', class: 'light-sub-text' %><br />
      <%= form.text_field :aircraft_id, id: :flight_aircraft_id, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :from_airport, 'Departure Airport (ICAO Code)', class: 'light-sub-text' %><br />
      <%= form.collection_select :from_id, Location.order(:identifier).page, :id, :identifier, { include_blank: true}, class: 'airport_lookup', style: 'width: 100%;' %>
    </div>

    <div class="mb-3">
      <%= form.fields_for :waypoints do |waypoint_fields| %>
        <%= waypoint_fields.label :waypoint, "Add Waypoints", class: 'light-sub-text' %><br />
        <div class="waypoint_fields">
          <%= render 'flights/waypoint_fields', f: waypoint_fields %>
        </div>
        <a href="#" id="add_waypoint_select">Add another waypoint</a>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :to_airport, 'Arrival Airport (ICAO Code)', class: 'light-sub-text' %><br />
      <%= form.collection_select :to_id, Location.order(:identifier).page, :id, :identifier, { include_blank: true}, class: 'airport_lookup', style: 'width: 100%;' %>
    </div>

    <div class="mb-3">
      <%= form.label :time_out, 'Time Out', class: 'light-sub-text' %><br />
      <%= form.text_field :time_out, id: :flight_time_out, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :time_in, 'Time In', class: 'light-sub-text' %><br />
      <%= form.text_field :time_in, id: :flight_time_in, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :total_time, 'Total Time (hours) e.g. 1.5', class: 'light-sub-text' %><br />
      <%= form.number_field :total_time, id: :flight_total_time, class: 'form-control', step: 0.1 %>
    </div>

    <div class="mb-3">
      <%= form.label :pic, 'PIC (hours)', class: 'light-sub-text' %><br />
      <%= form.number_field :pic, id: :flight_pic, class: 'form-control', step: 0.1 %>
    </div>

    <div class="mb-3">
      <%= form.label :distance, 'Distance (nautical miles)', class: 'light-sub-text' %><br />
      <%= form.number_field :distance, id: :flight_distance, class: 'form-control', step: 0.1 %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary mt-2' %>
  </div>
<% end %>
