<p id="notice"><%= notice %></p>

<%= form_with(url: :flights, local: true) do |form| %>
  <%= form.file_field :logbook %>
  <%= form.submit class:'btn btn-primary' %>
<% end %>

<h1>Flights</h1>

<table class='table table-inverse'>
  <thead>
    <tr>
      <th>Flight date</th>
      <th>Aircraft</th>
      <th>From</th>
      <th>To</th>
      <th>Time out</th>
      <th>Time in</th>
      <th>Total time</th>
      <th>Pic</th>
      <th>Distance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.flight_date %></td>
        <td><%= flight.aircraft_id %></td>
        <td><%= Location.find(flight.from_id).identifier %></td>
        <td><%= Location.find(flight.to_id).identifier %></td>
        <td><%= flight.time_out %></td>
        <td><%= flight.time_in %></td>
        <td><%= flight.total_time %></td>
        <td><%= flight.pic %></td>
        <td><%= flight.distance %></td>
        <td><%= link_to 'Show', flight %></td>
        <td><%= link_to 'Destroy', flight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
