<%= title "Arelplane | flights" %>

<div class="container-fluid flights">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <h1 class='light-header text-center'>Manage Flights</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= link_to 'New Flight', new_flight_path %>
        </div>
      </div>
      <div class="row mt-2 mb-2">
        <div class="col-12 col-md-6">
          <%= paginate @flights, theme: 'bootstrap4' %>
        </div>
        <div class="col-12 col-md-6">
          <div class="float-right">
            <%= form_with url: flight_search_path, method: :post, local: true do |f| %>
              <div class="form-inline">
                <% if params[:query].present? %>
                  <%= link_to 'Reset Search', flights_path, class: 'mr-2' %>
                <% end %>
                <div class="input-group">
                  <%= f.text_field :query, id: :query, placeholder: 'Search by identifier', value: params[:query], class: 'form-control' %>
                  <span class="input-group-btn">
                    <%= f.submit "Search", class: 'btn btn-secondary' %>
                  </span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <% nonconforming_flights = Flight.flights_with_missing_identifiers_for(current_user) %>
      <% if nonconforming_flights.count > 0 && params[:action] != "search" %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <h4 class="alert-heading">
            <%= nonconforming_flights.count %> flights have identifiers that aren't in our system 😲
          </h4>
          <p>
            Cross check them with your logbook. If we're missing an identifier, send us <a href="http://m.me/arelplane" target="_blank">a message</a>. If you mistyped an identifier, just update the entry below, or fix it in your logbook and re-upload it.
          </p>

          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <table class='table table-striped table-bordered'>
            <thead>
              <tr>
                <th>Flight date</th>
                <th>Aircraft</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Time out</th>
                <th>Time in</th>
                <th>Total time</th>
                <th>Pic</th>
                <th>Distance</th>
                <th colspan="2"></th>
              </tr>
            </thead>

            <tbody>
              <% nonconforming_flights.each do |flight| %>
                <tr>
                  <td><%= flight.flight_date.to_date.to_formatted_s(:long) rescue flight.flight_date %>
                    <% if flight.waypoints.present? %>
                      <br><br>
                      Waypoints:
                      <br>
                      <% flight.waypoints.each do |waypoint| %>
                          <p class="ml-4">
                            <%= Location.find(waypoint.location_id).name_and_identifier %>
                            <%= link_to 'Delete', waypoint_path(waypoint), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "ml-2 delete_waypoint" %>
                          </p>
                      <% end %>
                    <% end %>
                  </td>
                  <td><%= flight.aircraft_identifier %></td>
                  <td><%= Location.find(flight.from_id).name_and_identifier %></td>
                  <td><%= Location.find(flight.to_id).name_and_identifier %></td>
                  <td><%= flight.time_out %></td>
                  <td><%= flight.time_in %></td>
                  <td><%= flight.total_time.try(:round, 1) %></td>
                  <td><%= flight.pic.try(:round, 1) %></td>
                  <td><%= flight.distance.try(:round, 1).try(:round, 1) %></td>
                  <td><%= link_to 'Delete', flight, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'delete_flight' %></td>
                  <td><%= link_to 'Edit', edit_flight_path(flight) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>

      <table class='table table-striped table-dark table-bordered'>
        <thead>
          <tr>
            <th>Flight date</th>
            <th>Aircraft</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Time out</th>
            <th>Time in</th>
            <th>Total time</th>
            <th>Pic</th>
            <th>Distance</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @flights.each do |flight| %>
            <tr>
              <td><%= flight.flight_date.to_date.to_formatted_s(:long) rescue flight.flight_date %>
                <% if flight.waypoints.present? %>
                  <br><br>
                  Waypoints:
                  <br>
                  <% flight.waypoints.each do |waypoint| %>
                      <p class="ml-4">
                        <%= Location.find(waypoint.location_id).name_and_identifier %>
                        <%= link_to 'Delete', waypoint_path(waypoint), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "ml-2 delete_waypoint" %>
                      </p>
                  <% end %>
                <% end %>
              </td>
              <td><%= flight.aircraft_identifier %></td>
              <td><%= Location.find(flight.from_id).name_and_identifier %></td>
              <td><%= Location.find(flight.to_id).name_and_identifier %></td>
              <td><%= flight.time_out %></td>
              <td><%= flight.time_in %></td>
              <td><%= flight.total_time.try(:round, 1) %></td>
              <td><%= flight.pic.try(:round, 1) %></td>
              <td><%= flight.distance.try(:round, 1) %></td>
              <td><%= link_to 'Delete', flight, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'delete_flight' %></td>
              <td><%= link_to 'Edit', edit_flight_path(flight) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="ml-5">
  <%= paginate @flights, theme: 'bootstrap4' %>
</div>

<br>
