<p id="notice"><%= notice %></p>

<p>
  <strong>Flight date:</strong>
  <%= @flight.flight_date %>
</p>

<p>
  <strong>Aircraft:</strong>
  <%= @flight.aircraft_id %>
</p>

<p>
  <strong>From:</strong>
  <%= Location.find(@flight.from_id).identifier %>
</p>

<p>
  <strong>To:</strong>
  <%= Location.find(@flight.to_id).identifier %>
</p>

<p>
  <strong>Time out:</strong>
  <%= @flight.time_out %>
</p>

<p>
  <strong>Time in:</strong>
  <%= @flight.time_in %>
</p>

<p>
  <strong>Total time:</strong>
  <%= @flight.total_time %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @flight.pic %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @flight.distance %>
</p>

<%= link_to 'Back', flights_path %>
