<% if current_user %>
  <%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
    <%= f.hidden_field :following_id, value: @user.id %>
    <div class="btn-group">
      <%= button_tag( class: "btn follow-button-normal") do %>
        <%= image_tag "icons/heart_icon.png", height: '17', width: '19', class: 'mb-1' %><span> Like</span>
      <% end %>
      <p class="btn follow-button-normal"><%= @user.followers.count %></p>
    </div>
  <% end %>
<% else %>
  <div class="btn-group">
    <%= link_to new_user_registration_path, class: "btn follow-button-normal" do %>
      <%= image_tag "icons/heart_icon.png", height: '17', width: '19', class: 'mb-1' %> Like
    <% end %>
    <p class="btn follow-button-normal"><%= @user.followers.count %></p>
  </div>
<% end %>
