<!-- Modal -->
<div class="modal fade" id="logbookUploadModal" tabindex="-1" role="dialog" aria-labelledby="logbookUpload" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content pb-2">
      <div class="modal-header">
        <h5 class="modal-title" id="logbookUpload">Upload a logbook file, or add flights manually</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container-fluid">
        <!-- ForeFlight -->
        <div class='row ml-2 mr-md-2 mt-2 h-100'>
          <div class="col-1">
            <%= image_tag('foreFlight.png', height: '40', width: '40') %>
          </div>
          <div class="col-5 my-auto">
            <div class="lb-provider-name pl-3 pl-md-2">ForeFlight</div>
          </div>
          <div class="col-5 col-md-6 my-auto">
            <button type="button" class='btn float-right provider-btn' id="foreflight-lb">Select</button>
          </div>
        </div>
        <%= render 'users/upload_forms/foreflight' %>
        <div class="row ml-2 mr-2">
          <div class="col-12">
            <hr>
          </div>
        </div>
        <!-- LogTen Pro -->
        <div class='row ml-2 mr-md-2 h-100'>
          <div class="col-1">
            <%= image_tag('logtenpro.png', height: '40', width: '40') %>
          </div>
          <div class="col-5 my-auto">
            <div class="lb-provider-name pl-3 pl-md-2">LogTen Pro</div>
          </div>
          <div class="col-5 col-md-6 my-auto">
            <button type="button" class='btn float-right provider-btn' id="logtenpro-lb">Select</button>
          </div>
        </div>
        <%= render 'users/upload_forms/logtenpro' %>
        <div class="row ml-2 mr-2">
          <div class="col-12">
            <hr>
          </div>
        </div>
        <!-- mccPILOTLOG -->
        <div class='row ml-2 mr-md-2 h-100'>
          <div class="col-1">
            <%= image_tag('mccPILOTLOG.png', height: '40', width: '40') %>
          </div>
          <div class="col-5 my-auto">
            <div class="lb-provider-name pl-3 pl-md-2">mccPILOTLOG</div>
          </div>
          <div class="col-5 col-md-6 my-auto">
            <button type="button" class='btn float-right provider-btn' id="mccpilotlog-lb">Select</button>
          </div>
        </div>
        <%= render 'users/upload_forms/mccpilotlog' %>
        <div class="row ml-2 mr-2">
          <div class="col-12">
            <hr>
          </div>
        </div>
        <!-- safeLog -->
        <div class='row ml-2 mr-md-2 h-100'>
          <div class="col-1">
            <%= image_tag('safelog.png', height: '40', width: '40') %>
          </div>
          <div class="col-5 my-auto">
            <div class="lb-provider-name pl-3 pl-md-2">Safelog</div>
          </div>
          <div class="col-5 col-md-6 my-auto">
            <button type="button" class='btn float-right provider-btn' id="safelog-lb">Select</button>
          </div>
        </div>
        <%= render 'users/upload_forms/safelog' %>
        <div class="row ml-2 mr-2">
          <div class="col-12">
            <hr>
          </div>
        </div>
        <!-- ZuluLog -->
        <div class='row ml-2 mr-md-2 h-100'>
          <div class="col-1">
            <%= image_tag('zululog.png', height: '40', width: '40') %>
          </div>
          <div class="col-5 my-auto">
            <div class="lb-provider-name pl-3 pl-md-2">ZuluLog</div>
          </div>
          <div class="col-5 col-md-6 my-auto">
            <button type="button" class='btn float-right provider-btn' id="zululog-lb">Select</button>
          </div>
        </div>
        <%= render 'users/upload_forms/zululog' %>
        <div class="row ml-2 mr-2">
          <div class="col-12">
            <hr>
          </div>
        </div>
        <!-- Manual -->
        <div class='row mb-2 ml-2 mr-md-2 h-100'>
          <div class="col-1">
            <%= image_tag('arelplane.png', height: '40', width: '40') %>
          </div>
          <div class="col-5 my-auto">
            <div class="lb-provider-name pl-3 pl-md-2">
              Add Flights Manually
            </div>
          </div>
          <div class="col-5 col-md-6 my-auto">
            <%= link_to 'Select', new_flight_path, class: 'btn float-right provider-btn' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
