<div class='col-12 remove-lr-padding'>
  <div id='top-background-flag'>
    <div class='header-text pl-3 pt-4'>
      <%= @user.name %>
      <% if current_user == @user %>
        <%= link_to image_tag('settings.png', height: '23', width: '23'), edit_user_registration_path, class: 'ml-2' %>
      <% end %>
    </div>
    <div class="sub-text pl-3">
      <%= render 'follow_form' %>
    </div>
    <div class='sub-text pl-3 mb-5'>
      Joined <%= @user.created_at.strftime('%B %e, %Y') %>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-12'>
    <div class='float-right mr-3'>
      <div class='light-header align-right'>
        <%= @user.top_region || 'No Flights' %>
      </div>
      <div class='light-sub-text align-right'>
        Top State/Region
      </div>
    </div>
  </div>
</div>
<div class='row mt-3'>
  <div class='col-12'>
    <div class='float-right mr-3'>
      <div class='light-header align-right'>
        <%= @user.top_location || 'No Flights' %>
      </div>
      <div class='light-sub-text align-right'>
        Top Airport
      </div>
    </div>
  </div>
</div>
<div class='row mt-3'>
  <div class='col-12'>
    <div class='float-right mr-3'>
      <div class='light-header align-right'>
        <%= @user.top_aircraft || 'Nothing Yet' %>
      </div>
      <div class='light-sub-text align-right'>
        Top Aircraft
      </div>
    </div>
  </div>
</div>
<div class="row mt-3"></div>
<div class='row'>
  <div class='col-12'>
    <div id='mid-background-flag'>
      <div id='background-flag-text'>
        <div class='row mt-3'>
          <div class='col-6'>
            <div class='header-text'>
              <%= number_with_delimiter(@user.flights.count, delimiter: ',') || 'No Flights' %>
            </div>
            <div class='sub-text'>
              Flights
            </div>
          </div>
          <div class='col-6'>
            <div class='header-text'>
              <%= number_with_delimiter(@user.num_airports, delimiter: ',') %>
            </div>
            <div class='sub-text'>
              Airports
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-6'>
            <div class='header-text'>
              <%= number_with_delimiter(@user.total_flight_hours, delimiter: ',') %>
            </div>
            <div class='sub-text'>
              Hours
            </div>
          </div>
          <div class='col-6'>
            <div class='header-text'>
              <%= number_with_delimiter(@user.num_regions, delimiter: ',') %>
            </div>
            <div class='sub-text'>
              Regions
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='row mt-5 mb-5 align-center'>
  <div class="col-12">
    <p class='light-sub-text'>Feature requests? Questions?</p>
    <div class="fb-messengermessageus"
      messenger_app_id="720812044763701"
      page_id="965418793603934"
      color="blue"
      size="large" >
    </div>
  </div>
</div>
