<%= content_tag :div, id: "visited_airports", data: {airports: @user.visited_airports} do %>
<% end %>
<%= content_tag :div, id: "visited_waypoints", data: {waypoints: @user.visited_waypoints} do %>
<% end %>
<%= content_tag :div, id: "trip_lines", data: {trips: @user.trips_lat_long} do %>
<% end %>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-10'>
      <div class='header-title mt-3 mb-3'>TRAVERSE</div>
    </div>
    <div class='col-2'>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary float-right mt-3 mb-3') %>
    </div>
  </div>
  <div class='row'>
    <div class='col-3 remove-lr-padding' id='user-sticky-sidebar'>
      <div class='col-12 remove-lr-padding'>
        <div id='top-background-flag'>
          <div class='header-text pl-3 pt-4'>
            <%= @user.name %>
          </div>
          <div class='sub-text pl-3'>
            Joined <%= @user.created_at.strftime('%B %e, %Y') %>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-12'>
          <div class='float-right mr-3'>
            <div class='light-header'>
              New York
            </div>
            <div class='light-sub-text'>
              Top State/Region
            </div>
          </div>
        </div>
      </div>
      <div class='row mt-3'>
        <div class='col-12'>
          <div class='float-right mr-3'>
            <div class='light-header'>
              KHPN
            </div>
            <div class='light-sub-text'>
              Top Airport
            </div>
          </div>
        </div>
      </div>
      <div class='row mt-3'>
        <div class='col-12'>
          <div class='float-right mr-3'>
            <div class='light-header'>
              Piper Archer
            </div>
            <div class='light-sub-text'>
              Top Aircraft
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3"></div>
      <div class='row'>
        <div class='col-12'>
          <div id='mid-background-flag'>
            <div id='background-flag-text'>
              <div class='row mt-3'>
                <div class='col-6'>
                  <div class='header-text'>
                    1.5K
                  </div>
                  <div class='sub-text'>
                    Flights
                  </div>
                </div>
                <div class='col-6'>
                  <div class='header-text'>
                    35
                  </div>
                  <div class='sub-text'>
                    Airports
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-6'>
                  <div class='header-text'>
                    400
                  </div>
                  <div class='sub-text'>
                    Hours
                  </div>
                </div>
                <div class='col-6'>
                  <div class='header-text'>
                    3
                  </div>
                  <div class='sub-text'>
                    Regions
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%# if @user == current_user %>
        <%#= form_with(url: :flights, local: true) do |form| %>
          <%#= form.file_field :logbook %>
          <%#= form.submit class:'btn btn-primary' %>
        <%# end %>
        <!-- View your <%#= link_to 'flights', flights_path %> -->
      <%# end %>
    </div>
    <div class='col-9 remove-lr-padding' id='user-map'>
      <div class='user-map' id='mapid'></div>
    </div>
  </div>
</div>
