<span id="run-cesium" data-map="true"></span>
<%= title "Arelplane | #{@user.name}" %>
<%= content_tag :div, id: "current_page", data: {page: @user.id} do %>
<% end %>

<div class='container-fluid user-profile'>
  <div class='row'>
    <div class='d-none d-md-block remove-lr-padding' id='sticky-sidebar'>
      <%= render 'users/profile/side_bar' %>
    </div>
    <div class='col-md remove-lr-padding' id='user-map'>
      <%= render 'users/profile/share_button' %>
      <div class="user-map" id="cesiumContainer"></div>
    </div>
    <div class=' col-12 d-md-none remove-lr-padding' id='sticky-sidebar'>
      <%= render 'users/profile/side_bar' %>
    </div>
  </div>
</div>

<script src="../Cesium/Cesium.js"></script>
