<%= content_tag :div, id: "visited_airports", data: {airports: @user.visited_airports} do %>
<% end %>
<%= content_tag :div, id: "visited_waypoints", data: {waypoints: @user.visited_waypoints} do %>
<% end %>
<%= content_tag :div, id: "trip_lines", data: {trips: @user.trips_lat_long} do %>
<% end %>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-2'>
      <div class='col-12' id='user-sticky-sidebar'>
        <% if @user == current_user %>
          <%= form_with(url: :flights, local: true) do |form| %>
            <%= form.file_field :logbook %>
            <%= form.submit class:'btn btn-primary' %>
          <% end %>

          View your <%= link_to 'flights', flights_path %>
        <% end %>
      </div>
    </div>
    <div class='col-10' id='user-main'>
      <div class='user-map' id='mapid'></div>
    </div>
  </div>
</div>
