<p><%= link_to @commenter.username, username_url(@commenter.username) %> also commented on <%= link_to @story_owner.username, username_url(@story_owner.username) %>'s <%= link_to 'post', story_url(@story) %>.</p>

<p>They said:</p>
<blockquote cite="<%= story_url(@story) %>">
  <%= @comment.body %>
</blockquote>

<p>Reply <%= link_to 'here', story_url(@story) %></p>

<br>
<br>

<p style="font-size: 8px !important;"><%= link_to 'Unsubscribe', unsubscribe_url(@story_owner.subscription_preference.unsubscribe_token, unsubscribe: :story, story_id: @story.id) %> from emails about this post.</p>
<p style="font-size: 8px !important;"><%= link_to 'Unsubscribe', unsubscribe_url(@story_owner.subscription_preference.unsubscribe_token, unsubscribe: :all_stories) %> from emails about <b>any</b> post.</p>
<p style="font-size: 8px !important;">If you don't want any emails about anything, ever, <%= link_to 'click here', unsubscribe_url(@story_owner.subscription_preference.unsubscribe_token, unsubscribe: :everything) %></p>
