<%= content_tag :div, id: "visited_airports", data: {airports: Flight.visited_airports} do %>
<% end %>
<%= content_tag :div, id: "visited_waypoints", data: {waypoints: Flight.visited_waypoints} do %>
<% end %>
<%= content_tag :div, id: "trip_lines", data: {trips: Flight.trips_lat_long} do %>
<% end %>

<div class='container mt-2 mb-2'>
  <div class='row'>
    <div class="col">
      <% if !user_signed_in? %>
        <h6><center>Are you a pilot who keeps a digital logbook? Want to make your own map of all your flights? Create an account!</center></h6>
      <% end %>
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class='col-6'>
      <div class='form-inline'>
        <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary') %>
        <% else %>
            <%= form_with(model: User, url: registration_path(:user), local: true) do |form| %>
              <div class='form-inline'>
                <%= form.email_field :email, placeholder: 'email', class: 'form-control' %>
                <%= form.password_field :password, placeholder: 'password', class: 'form-control' %>
                <%#= link_to "Forgot your password?", new_password_path(:user) %>
                <%= form.submit 'Register', class: 'btn btn-primary' %>
              </div>
            <% end %>
            <p class='sub-header'> Already have an account? <a href="#" data-toggle='modal' data-target='#loginModal'>login</a></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class='homepage-map' id='mapid'></div>

<%= render 'login_modal' %>
