<%= content_tag :div, id: "visited_airports", data: {airports: Flight.visited_airports} do %>
<% end %>
<%= content_tag :div, id: "visited_waypoints", data: {waypoints: Flight.visited_waypoints} do %>
<% end %>
<%= content_tag :div, id: "trip_lines", data: {trips: Flight.trips_lat_long} do %>
<% end %>

<div class='container mt-2 mb-2'>
  <div class='row'>
    <div class="col">
      <% if !user_signed_in? %>
        <p class='light-sub-text align-center'>Are you a pilot who keeps a digital logbook? Want to make your own map of all your flights? Create an account!</p>
      <% end %>
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class='col-8'>
      <div class='form-inline'>
          <%= form_with model: User.new, local: true, url: user_registration_path do |form| %>
            <div class='form-inline'>
              <%= form.email_field :email, placeholder: 'email', class: 'form-control' %>
              <%= form.text_field :name, placeholder: 'name', class: 'form-control' %>
              <%= form.password_field :password, placeholder: 'password', class: 'form-control' %>
              <%= form.submit 'Register', class: 'btn btn-primary' %>
            </div>
            <p class='light-sub-text'> Already have an account?
              <!-- <a href="#" data-toggle='modal' data-target='#loginModal'>login</a></p> -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">login</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class='homepage-map' id='mapid'></div>

<%= render 'login_modal' %>
