<%= content_tag :div, id: "current_page", data: {page: "homepage"} do %>
<% end %>

<div class='container mt-2 mb-2'>
  <div class='row'>
    <div class="col">
        <p class='light-sub-text align-center'>Are you a pilot with a digital logbook? Sign up to make a map of all your flights!</p>
        <p class='light-sub-text align-center'>Not a pilot? Like aviation? Create an account and see where everyone is flying!</p>
        <p class='light-sub-text align-center'>Want more info? See our <%= link_to 'upload instructions', upload_instructions_path %> and see a sample <%= link_to "profile", username_path("@arelenglish") %></p>
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class='col-8'>
      <div class='form-inline'>
          <%= form_with model: User.new, local: true, url: user_registration_path do |form| %>
            <div class='form-inline'>
              <%= form.email_field :email, placeholder: 'email', class: 'form-control' %>
              <%= form.text_field :name, placeholder: 'name', class: 'form-control' %>
              <%= form.password_field :password, placeholder: 'password', class: 'form-control' %>
              <%= form.submit 'Register', class: 'btn btn-primary', id: 'registerButton' %>
            </div>
            <p class='light-sub-text'> Already have an account?
            <a href="#" data-toggle='modal' data-target='#loginModal'>login</a></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class='homepage-map' id='mapid'></div>
<%= render 'vendors/fb_pixel_register' %>
