<%= content_tag :div, id: "visited_airports", data: {airports: Flight.visited_airports} do %>
<% end %>
<%= content_tag :div, id: "visited_waypoints", data: {waypoints: Flight.visited_waypoints} do %>
<% end %>
<%= content_tag :div, id: "trip_lines", data: {trips: Flight.trips_lat_long} do %>
<% end %>

<div class='container mt-2 mb-2'>
  <div class='row'>
    <div class="col">
      <h6><center>Are you a pilot who keeps a digital logbook? Want to make your own map of all your flights? Create an account!</center></h6>
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class='col-4'>
      <div class='form-inline'>
        <% if user_signed_in? %>
          <li>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary' %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="mapid"></div>
