<% if current_user %>
  <%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
    <%= f.hidden_field :following_id, value: user.id %>
    <div class="btn-group">
      <%= button_tag( class: "btn follow-button-normal") do %>
        <span>Follow</span>
      <% end %>
      <span class="btn follow-button-normal"><%= user.followers.count %></span>
    </div>
  <% end %>
<% else %>
<div class="btn-group">
  <a href="#" data-toggle='modal' data-target='#loginOrRegisterModal' class="btn follow-button-normal">
    Follow
  </a>
  <span class="btn follow-button-normal"><%= user.followers.count %></span>
</div>
<% end %>
