<div class='col-12 remove-lr-padding'>
  <div id='top-background-flag'>
    <div class='header-text pl-3 pt-4'>
      <%= @user.name %>
      <% if current_user == @user %>
        <%= link_to image_tag('settings.png', height: '23', width: '23'), edit_user_registration_path(@user.username), class: 'ml-2' %>
      <% end %>
    </div>
    <div class='sub-text joined-date pl-3'>
      Joined <%= @user.created_at.strftime('%B %e, %Y') %>
    </div>
    <div class="m-3 bio">
      <%= simple_format(@user.bio) %>
    </div>
    <% if @user.home_base %>
      <div class="m-3 home-base">
        <%= image_tag 'icons/home-base.png', height: '22', width: '21', class: 'icon' %>
        <span class="text align-bottom">Based out of <%= @user.home_base.identifier %></span>
      </div>
    <% end %>
    <% if @user.employer.present? %>
    <div class="m-3 employer">
      <%= image_tag 'icons/employer.png', height: '22', width: '23', class: 'icon' %>
      <span class="text align-bottom"><%= @user.employer %></span>
    </div>
    <% end %>
    <div class="sub-text pl-3 mt-2">
      <div class="row align-items-end">
        <div class="col-6">
          <%= render 'users/profile/follow_form', user: @user %>
        </div>
        <div class="col-6">
          <% if @user.instagram.present? %>
            <div class="float-right mr-3">
              <%= link_to image_tag('icons/instagram.png', height: '23', width: '23'), "https://www.instagram.com/#{@user.instagram}", target: :blank %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <hr class="ml-3 mr-3">
    <div class="row top-values ml-1 mr-2 text-nowrap text-center">
      <div class="col-4">
        <div class='value'>
          <% if @user.top_region.blank? %>
            🤷
          <% else %>
            <%= @user.top_region %>
          <% end %>
        </div>
        <div class='title'>
          Top Region
        </div>
      </div>
      <div class="col-4">
        <div class='value'>
          <% if @user.top_location.blank? %>
            🤷
          <% else %>
            <%= @user.top_location %>
          <% end %>
        </div>
        <div class='title'>
          Top Airport
        </div>
      </div>
      <div class="col-4">
        <div class='value'>
          <% if @user.top_aircraft.blank? %>
            🤷
          <% else %>
            <%= @user.top_aircraft.identifier.try(:upcase) %>
          <% end %>
        </div>
        <div class='title'>
          Top Aircraft
        </div>
      </div>
    </div>
    <hr class="ml-3 mr-3">
    <div class="row stats ml-1 mr-2 text-center">
      <div class="col-3">
        <div class="number">
          <%= number_to_human(current_user.total_distance, precision: 2) || 'No Flights' %>
        </div>
        <div class="title">
          Distance
        </div>
      </div>
      <div class="col-3">
        <div class="number">
          <%= number_with_delimiter(@user.num_airports, delimiter: ',') %>
        </div>
        <div class="title">
          Airports
        </div>
      </div>
      <div class="col-3">
        <div class="number">
          <%= number_with_delimiter(@user.num_regions, delimiter: ',') %>
        </div>
        <div class="title">
          Regions
        </div>
      </div>
      <div class="col-3">
        <div class="number">
          <%= number_with_delimiter(@user.total_flight_hours, delimiter: ',') %>
        </div>
        <div class="title">
          Hours
        </div>
      </div>
    </div>
    <hr class="ml-3 mr-3">
    <div class="row ml-1 mr-2">
      <div class="col-12 ratings">
        <p class="heading">RATINGS AND CERTIFICATIONS</p>
        <% if @user.ratings.count == 0 %>
          <div class="mt-2 mb-5">
            <span class="text align-bottom">
              ☹️ No ratings yet
              <% if @user == current_user %>
                (<%= link_to( 'add yours', edit_user_registration_path(@user.username)) %>)
              <% end %>
            </span>
            <br>
          </div>
        <% else %>
          <% @user.ratings.each do |rating| %>
            <div class="mb-2">
              <%= image_tag'icons/check_in_circle.png', height: '22', width: '22', class: 'icon' %>
              <span class="text align-bottom"><%= rating.name %></span><br>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <br><br>
  </div>
</div>
<div class="row pl-3 mt-3 recent-updates">
  <div class="col-11">
    <p class="title">
      RECENT UPDATES
    </p>
    <% @user.recent_updates.each do |update| %>
      <p class="entry">
        <span class="name"><%= @user.name %></span> added <%= pluralize(number_with_delimiter(update.last), 'new flight') %> to their Map.
        <br>
        <span class="date"><%= time_ago_in_words(update.first) %> ago</span>
      </p>
    <% end %>
  </div>
</div>
<div class='row mt-5 mb-5 align-center'>
  <div class="col-12">
    <p class='light-sub-text'>Feature requests? Questions?</p>
    <div class="fb-messengermessageus"
      messenger_app_id="720812044763701"
      page_id="965418793603934"
      color="blue"
      size="large" >
    </div>
  </div>
</div>
