<div class="card mb-4 feed_card" id="story_<%= story.id %>">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-8 col-12">
        <h4 class="card-title name"><%= link_to story.user.name, username_path(story.user.username) %> <span class="flight-count">
          <% if story.flights.any? %>
            added a new trip to their <%= link_to 'map', username_path(story.user.username) %>
          <% elsif story.ratings.any? %>
            added a new rating to their <%= link_to 'profile', username_path(story.user.username) %>
          <% end %>
        </span></h4>
      </div>
      <div class="col-lg-4 col-12">
        <div class="float-lg-right">
          <% if story.user == current_user %>
            <div class="btn-group">
              <p data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= octicon "kebab-horizontal", width: 20 %>
              </p>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to 'Delete', story, method: :delete, data: { confirm: 'Are you sure? You can not un-delete this story'}, remote: true, class: 'delete_story dropdown-item' %>
                <%= link_to 'Regenerate Map', story_regenerate_map_path(story), method: :post, class: 'dropdown-item' %>
              </div>
            </div>
          <% else %>
            <%= render 'users/profile/follow_form', user: story.user %>
          <% end %>
        </div>
      </div>
    </div>
    <span class="date"><%= time_ago_in_words(story.created_at) %> ago</span>
    <div class="row mt-3">
      <div class="col-12 mb-4">
        <div class="description">
          <p class="card-text p-3">
            <%= story.description %>
          </p>
        </div>
      </div>
    </div>
    <% if story.flights.any? %>
      <div class="row">
        <div class="col-12">
          <%= link_to(image_tag(story.map_image_url, class: 'card-img-top', alt: 'Story map', onerror: "this.error=null;this.src='#{image_path('placeholderMap.png')}'"), username_path(story.user.username)) unless story.map_image_url.blank? %>
        </div>
      </div>
      <% if story.flights.count == 1 %>
        <div class="row airports mt-3">
          <div class="col-12">
            <span class="identifier">
              <%= story.locations.map { |location| location.identifier }.join(" → ") %>
            </span>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if story.ratings.any? %>
      <div class="row">
        <div class="col-12 text-center">
          <%= image_tag('icons/rating_award.png', width: 177, height: 75) %>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 text-center">
          <p class="rating_name">
            <%= story.ratings.first.name %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card-body social_actions">
    <div class="row">
      <div class="count col-6 pt-2" id="like_count_<%= story.id %>">
        <%= render 'stories/like_count', story: story %>
      </div>
      <div class="actions col-5 float-right">
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-6">
            <div class="float-right">
              <div id="like_button_<%= story.id %>">
                <%= render 'stories/like_button', story: story %>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-8 col-lg-6">
            <div class="float-right">
              <%= render 'stories/comment_button' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'stories/comments_section', story: story %>
</div>
