<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @location.identifier %>
</p>

<p>
  <strong>Type:</strong>
  <%= @location.location_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>Elevation:</strong>
  <%= @location.elevation %>
</p>

<p>
  <strong>Continent:</strong>
  <%= @location.continent %>
</p>

<p>
  <strong>Iso country:</strong>
  <%= @location.iso_country %>
</p>

<p>
  <strong>Iso region:</strong>
  <%= @location.iso_region %>
</p>

<p>
  <strong>Municipality:</strong>
  <%= @location.municipality %>
</p>

<p>
  <strong>Scheduled service:</strong>
  <%= @location.scheduled_service %>
</p>

<p>
  <strong>Gps code:</strong>
  <%= @location.gps_code %>
</p>

<p>
  <strong>Iata code:</strong>
  <%= @location.iata_code %>
</p>

<p>
  <strong>Local code:</strong>
  <%= @location.local_code %>
</p>

<p>
  <strong>Home link:</strong>
  <%= @location.home_link %>
</p>

<p>
  <strong>Wikipedia link:</strong>
  <%= @location.wikipedia_link %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @location.keywords %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
