<%= title "Arelplane | #{@location.identifier}" %>

<div class='container-fluid locations_page'>
  <div class='row'>
    <div class='col-1'></div>
    <div class='col-10'>
      <p>
        <strong>Identifier:</strong>
        <%= @location.identifier %>
      </p>
      <p>
        <strong>Name:</strong>
        <%= @location.name %>
      </p>

      <p>Info out of date?</p>
      <p><%= link_to 'Edit Location', edit_location_path(@location.identifier) %></p>

      <% if current_user.role == "admin" %>
        <b>Current Version:</b> <%= @location.paper_trail.live? %>
        <% @location.versions.each do |version| %>
        <hr>
          <div class="row">
            <div class="col-6">
              <b>Event:</b> <%= version.event %><br>
              <b>User:</b> <%= User.find(version.whodunnit).name if version.whodunnit %><br>
              <b>Version Number:</b> <%= version.id %><br>
              <b>Changes:</b> <% version.changeset.each do |change| %><br>
                <b><%= change[0].titlecase %>:</b> from: <%= change[1][0] %> to: <%= change[1][1] %>
              <% end %>
            </div>
            <div class="col-6">
              <%= link_to 'Approve', select_version_location_path(@location.identifier, version: version.id + 1), method: :post %><br>
              <%= link_to 'Deny', destroy_version_location_path(@location.identifier, version: version.id), method: :delete, data: {confirm: 'Are you sure?'}, remote: true, class: 'delete_version' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class='col-1'></div>
  </div>
</div>
