<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="application-navbar">
  <%#= link_to image_tag('arelplane.png', class: 'd-inline-block align-top', height: '40', width: '40'), root_path, class: 'navbar-brand' %>
  <%= link_to 'ARELPLANE', root_path, class: "navbar-brand #{'underline' if current_page?(root_path)}" %>
  <ul class="navbar-nav flex-row">
    <li class="nav-item active">
      <div class="btn-group">
        <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="notifications-button">
          <%= octicon "bell", height: 20, class: 'align-bottom' %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </li>
  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <%= form_with url: user_search_path, method: :post, local: true, class: 'form-inline' do |form| %>
      <%= form.collection_select :user_id, User.page, :id, :username, { include_blank: true}, class: 'user_lookup form-control mr-sm-2' %>
      <%= form.submit 'Go', class: 'btn btn-outline-light ml-2' %>
    <% end %>
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
      <% if current_user %>
        <li class="nav-item active <%= 'underline' if current_page?(username_path(current_user.try(:username))) %>">
          <%= link_to 'Profile', user_path(current_user.id), class: 'nav-link' %>
        </li>
        <li class="nav-item active <%= 'underline' if current_page?(flights_path) %>">
          <%= link_to 'Manage Flights', flights_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active <%= 'underline' if current_page?(upload_instructions_path) %>">
          <%= link_to 'Upload Instructions', upload_instructions_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>

        <li class="nav-item active">
          <button href="#" data-toggle='modal' data-target='#logbookUploadModal' class='btn btn-primary'>Add Flights</button>
        </li>
      <% else %>
        <li class="nav-item active mt-2">
          <a href="#" data-toggle='modal' data-target='#loginModal' class='light_link'>Login</a>
          &nbsp;<%= link_to "Register", new_user_registration_path, class: 'btn btn-primary' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
