<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? content_for(:title) : 'Arelplane' %></title>
    <meta property="og:title" content="Arelplane" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= image_url "demo-img.png" %>" />
    <meta property="og:description" content="A visual logbook!" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Arelplane" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <!-- <%#= stylesheet_pack_tag "stylesheets", media: 'all' %> -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= render 'vendors/fb_pixel' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,800,900&amp;subset=latin-ext" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'vendors/fb_messenger_btn' %>
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
    <%= render 'pages/login_modal' %>
    <%= render 'flights/logbook_upload_modal' %>
  </body>
</html>
